<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bandpractice</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/qunit-2.4.0.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
<script src="/js/qunit-2.4.0.js"></script>

<script src="/js/sounds.js"></script>
<script src="/js/observer.js"></script>
<script src="/js/socket-client.js"></script>
<script src="/js/socket-client-tests.js"></script>

<body>
<div class="container">
    <!--User Info Html-->
    <div id="div_user_form_area" class="">
        <div class="row"><h1>Enter username and choose instrument</h1></div>
        <br>
        <div class="row">
            <div class="col-md-4">
                <form id="frm_user_form">
                    <div class="form-group form-inline">
                        <label for="txt_username">Username:&nbsp</label>
                        <input type="text" id="txt_username" class="form-control">
                        <br>
                        <input type="submit" id="btn_submit" class="btn btn-primary" value="Login">
                    </div>
                </form>
            </div>
            <div class="col-md-8">
                <div id="div_errors" class="row red hidden"></div>
            </div>

        </div>
        <br>
        <div class="row">
            <div class="form-control hidden col-md-4"><label class="radio-inline">
                <input type="radio" value="guitar" class="opt-instrument" name="optinstrument" checked>Guitar</label>
                <br>
                <img id="img_guitar "class="instr-image" src="/images/guitar.svg" alt="Guitar">
            </div>
            <div class="form-control hidden col-md-4"><label class="radio-inline">
                <input type="radio" value="drums" class="opt-instrument" name="optinstrument">Drums</label>
                <br>
                <img id="img_drums" class="instr-image" src="/images/drums.svg" alt="Drums">
            </div>
            <div class="form-control hidden col-md-4"><label class="radio-inline">
                <input type="radio" value="vox" class="opt-instrument" name="optinstrument">Vox</label>
                <br>
                <img id="img_vox" class="instr-image" src="/images/vox.svg" alt="Vox">
            </div>
        </div>
    </div>
    <br>

    <!--Lobby Html-->
    <div id="div_lobby_container">
        <h1>Lobby <%= lobbyId %></h1>
        <input type="hidden" id="hid_lobby_id" value="<%= lobbyId %>">
        <div class="row">

        </div>
        <div id="instrument_box" class="row select-box box-active"></div>

        <br>
        <div class="row">
            <div class="col-md-2">
                <div class="float-left users-info">
                    <h5>Users</h5>
                    <hr>
                    <ul id="ul_user_list"></ul>
                </div>
            </div>
            <div class="col-md-10">
                <div id="chat_box" class="select-box"></div>
                <form id="frm_message" class="form-inline" action="javascript:void(0)">
                    <label for="txt_message">Message</label>
                    <input type="text" id="txt_message" autocomplete="off" required autofocus/>
                    <input type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
</div>

<!--<div id="qunit"></div>-->
<!--<div id="qunit_frame"></div>-->

</body>
</html>