<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<body>
<div class="container">
    <h1>Lobby<%= lobbyName %></h1>
    <div class="instrument-box"></div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <div class="float-left users-info">
                <h5>Users</h5>
                <hr>
            </div>
        </div>
        <div class="col-md-10">
            <div class="chat-box"></div>
        </div>
    </div>
</div>
</body>
</html>