.users-info{
    border: 1px solid black;
    min-height:300px;
    min-width: 180px;
}

#instrument_box{
    border: 1px solid black;
    min-height:400px;
    min-width: 800px;
}

#chat_box{
    border: 1px solid black;
    min-height:300px;
}

.opt-instrument{
    margin: 0 10px 0 150px;
}


.audio-box {
    height: 50px;

    border: 1px solid black;
}

.box-active {
    box-shadow: 10px 10px 5px red;
}

.gray{
    color: gray;
    border-color: gray;
}

.lobby-join{
    color: forestgreen;
}

.lobby-leave{
    color: red;
}

#div_errors{
    color:red;
}

.hidden{
    display:none;
}

.instr-image {
    padding:20px;
    width: 150px;
    height: auto;
    text-align: center;
}

.lobby-inner-card{
    min-height: 180px;
    background: floralwhite;
}
.leader-img{
    width: 15px;
    height: auto;
}