.users-info{
    border: 1px solid black;
    min-height:300px;
    min-width: 150px;
}

.instrument-box{
    border: 1px solid black;
    min-height:400px;
    min-width: 800px;
}

#chat_box{
    border: 1px solid black;
    min-height:300px;
}

.opt-instrument{
    margin: 0 10px 0 150px;
}